.pages{
    background-color: #fff;
    width: 100%;
    max-height: 812px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 480px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.imagesLogo{
    margin-top: 100px;
    width: 250px;
    height: 76.94px;
}
.textTitle{
    font-weight: 600;
    font-size: 18px;
    margin-top: 66px;
}
.textForgotPassword{
    color: #94A694;
    font-weight: 400;
    font-size: 12px;
    padding: 10px;
}
.btnSocialMedia{
    width: 60px;
    height: 60px;       
    background-color: #F9F9F9 !important;
    border: none !important;
    border-radius: 16px !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.imgSocialMedia{
    width: 24px;
    height: 24px;
}
.btnRegister, .btnRegister:hover, .btnRegister:focus{
    border: none !important;
    background-color: transparent !important;
    color:#3AC79D !important;
    font-weight:600;
    font-size: 14px;
}
.linkFooter {
    text-decoration:none;
    font-size:12px;
    color:#4F614F;
    font-weight:400;
    margin: 10px;
}
.linkFooter:hover {
    color:#3AC79D;
}