.btnChevLeft{
    background-color: transparent !important;
    border: none !important;
}
.textTitleRegister{
    font-weight: 600;
    font-size: 18px;
    color: #040E0B;
}

.btnSocialMedia{
    width: 60px;
    height: 60px;       
    background-color: #F9F9F9 !important;
    border: none !important;
    border-radius: 16px !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.imgSocialMedia{
    width: 24px;
    height: 24px;
}
.textForgotPassword{
    color: #94A694;
    font-weight: 400;
    font-size: 12px;
    padding: 10px;
}