.rowBottom{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
    background: #FFFFFF;
    box-shadow: 0px -1px 24px rgba(0, 0, 0, 0.04);
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}
.iconImg{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 10px;
}