.rowSticky{
    padding-top: 18px;
    background-color: #fff;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    position: sticky;
    top:0;
    z-index: 99 !important;
}
.textHeader{
    font-weight: 600;
    font-size: 18px;
    color: #040E0B;
}
.btnMenu{
    margin-top: -10px !important;
    background-color: transparent !important;
    border: none !important;
}
.imgProfile{
    width: 80px;
    height: 80px;
    border-radius: 16px;
}
.textNameProfile{
    font-weight: 600;
    font-size: 17px;
    color: #040E0B;
    margin:0px;
}
.textNameProfileBottom{
    color: #94A694;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}
.textContent{
    font-weight: 400;
    font-size: 14px;
    color: #040E0B;
    margin-top: 10px;
}
.textSeeMore{
    font-weight: 600;
    font-size: 14;
    color: #3AC79D;
}
.imgContent{
    width: 125px;
    height: 222px;
}
.colPointer{
    padding: 0;
    cursor: pointer;
}
.imgChevWhite{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    cursor: pointer;
}