.imagesLogo{
    width: 144px;
    height: 43px;
}
.btnDot{
    background-color: transparent !important;
    border: none !important;
}
.rowSticky{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: sticky;
    top:0;
    z-index: 99 !important;
}
.imgChat{
    width: 48px;
    height: 48px;
    border-radius: 16px;
}
.nameProfile{
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 15px;
    color: #040E0B;
}
.message{
    font-weight: 400;
    font-size: 13px;
    color: #4F614F;
}

.btnChat{
background-color: transparent !important;
border:  none !important;
width: 100% !important;
text-align: left !important;
margin: 0px;
z-index: -99 !important;
}
.btnBack{
    background-color: transparent !important;
    border: none !important;
}
.nameHeaderChat{
    font-weight: 600;
    font-size: 14px;
    margin-left: 8px;
}
.bgContentChat{
    padding-left: 15px;
    padding-right: 15px;
    background-color: #E6EEDC;
    padding-bottom: 30px;
}
.chatText{
    font-weight: 400;
    font-size: 14px;
    color: #040E0B;
    margin: 0;
}
.chatTextTime{
    font-size: 10px;
    font-weight: 400;
    color: #94A694;
    margin: 0px;
    padding-bottom: 10px;
}
.chatRecive{
    background-color: #fff;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 20px;
    border-radius: 16px 16px 16px 0px;
    width: 300px;
}
.chatSend{
    background-color: #298C6D;
    padding-left: 10px;
    float: right;
    padding-top: 10px;
    margin-top: 20px;
    border-radius: 16px 16px 0px 16px;
    padding-right: 10px;
}

.chatTextTimeSend{
    font-size: 10px;
    font-weight: 400;
    color: #fff;
    margin: 0px;
    margin-right: 15px;
    float: right;
    padding-bottom: 10px;
}
.chatTextSend{
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin: 0;
}
.timeHr{
    color: #94A694;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: -10px;
}
.btnMenu{
    cursor: pointer;
    width: 24px;
}