.rowSticky{
    padding-top: 18px;
    background-color: #fff;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    position: sticky;
    top:0;
    z-index: 99 !important;
}
.textHeader{
    font-weight: 600;
    font-size: 18px;
    color: #040E0B;
}
.btnMenu{
    margin-top: -10px !important;
    background-color: transparent !important;
    border: none !important;
}
.imgProfile{
    width: 80px;
    height: 80px;
    border-radius: 16px;
}
.textNameProfile{
    font-weight: 600;
    font-size: 17px;
    color: #040E0B;
    margin:0px;
}
.textNameProfileBottom{
    color: #94A694;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}
.textContent{
    font-weight: 400;
    font-size: 14px;
    color: #040E0B;
    margin-top: 10px;
}
.textSeeMore{
    font-weight: 600;
    font-size: 14;
    color: #3AC79D;
}
.imgContent{
    width: 125px;
    height: 222px;
}
.colPointer{
    padding: 0;
    cursor: pointer;
}
.imgChevWhite{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    cursor: pointer;
}
.IconChatProfile{
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.btnChatProfile, .btnChatProfile:hover{
    width: 100%;
    height: 37px;
    border-radius: 10px !important;
    background-color: #3AC79D !important;
    border: none !important;
}
.textBtn{
    font-weight: 600;
    font-size: 16px;
}
.textX{
    font-size: 24px;
    cursor: pointer;
}
.textTitleModals{
    font-weight: 600;
    font-size: 16px;
   margin-top: 10px !important;
}
.textHours{
    margin: 0;
    color: #94A694;
    font-weight: 600;
    font-size: 16px;
}
.textPricing{
    margin: 0;
    color: #040E0B;
    font-weight: 600;
    font-size: 18px;
}
.rowSubs{
    background: #F1FBF8;
    border: 1px solid #298C6D;
    border-radius: 12px;
    padding: 10px;
}