.buttonComponent{
    background-color: #3AC79D !important;
    border: none !important;
    font-weight: 600 !important;
    font-size: 14px;
    width: 327px;
    height: 48px;
    box-shadow: 0px 9px 40px rgba(58, 199, 157, 0.12);
    border-radius: 10px;
}
.buttonComponent:hover{
    background-color: #53bb9c;
}