.rowSticky{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: sticky;
    top:0;
    z-index: 99 !important;
}
.textBottomSearch{
    color: #040E0B;
    font-size: 18px;
    font-weight: 600;
    padding-top: 24px;
}
.textBottomSearchResult{
    color: #040E0B;
    font-size: 14px;
    font-weight: 400;
}
.btnCancel,.btnCancel:hover,.btnCancel:focus{
    background-color: transparent !important;
    border: none !important;
    margin-left: -20px;
    margin-top: 20px;
}
.textCancel{
    color: #3AC79D;
    font-weight: 600;
}