.textHeader{
    font-weight: 600;
    font-size: 18px;
    color: #040E0B;
}
.imgUpload{
    width: 215px;
    height: 183px;
    margin-top: 120px;
}
.textUploadContent{
    font-weight: 600;
    color: #040E0B;
    font-size: 15px;
}
.textBtnUpload {
    color: #3AC79D;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
}
.btnUpload{
    background-color: transparent !important;
    border: none !important;
}