body{
  font-family: 'Lato';
  background-image: url('../src/assets/images/bgChat.jpeg');
}
.form-control:focus {
  box-shadow: none !important;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
  box-shadow: none !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.modal-dialog {
  position:fixed;
  top:auto;
  right:0px;
  left:-7px;
  bottom:-15px;
  width: 100% !important;
}  
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
.modal-content {
  border-radius: 32px 32px 0px 0px !important;
}
.pages{
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-y: scroll;
  transform: translate(-50%,-50%);
  max-width: 480px;
  padding-bottom: 60px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
